*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #548687;
    text-align: center;

}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.1 );
    font-size: 8vmin;
    color: rgb(105, 41, 18);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}

